<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stratice</title>

    <link rel="stylesheet" href="/styles/style.css">
</head>
<body class="m-0 p-0 h-14 bg-gradient-to-r from-rose-500 to-violet-400">
    <div class="p-4 m-4 border-black border-8 rounded-2xl bg-slate-400 bg-opacity-30">
        <h1 class="mb-4 text-4xl font-extrabold text-slate-950">Stratice</h1>
        <h2 class="mb-3 text-2xl font-bold text-slate-900">Moderations tools, secured.</h2>
    </div>

    <div class="p-4 m-4 border-black border-6 rounded-2xl bg-slate-400 bg-opacity-50">
        <p class="text-slate-900">Stratice allows you to easily assign granular control of moderation tools to your staff team, view when they used controlled commands, and make sure it's them running commands with continual security and verification checkups.</p>
    </div>

    <div class="p-4 m-4 border-black border-6 rounded-2xl bg-slate-400 bg-opacity-50">
        <p class="text-slate-900">For more information, or to discuss your Discord server's ongoing safety and security, please email <a href="mailto:stratice@avilab.zohodesk.eu" class="font-semibold">stratice@avilab.zohodesk.eu</a> and we'll be in touch!</p>
    </div>
</body>
</html>